body {
  margin: 0;
  overflow: hidden;
  background: radial-gradient(#000015, #000);
}
/* App.css */

.canvas-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
